<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>candidate.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>candidate.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>canupdate</servlet-name>
        <servlet-class>candidate.canupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>candidate.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestatus</servlet-name>
        <servlet-class>candidate.updatestatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addgroup</servlet-name>
        <servlet-class>candidate.addgroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>canstatus</servlet-name>
        <servlet-class>candidate.canstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>candetails</servlet-name>
        <servlet-class>candidate.candetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empregister</servlet-name>
        <servlet-class>candidate.Empregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletegroup</servlet-name>
        <servlet-class>candidate.deletegroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteemp</servlet-name>
        <servlet-class>candidate.deleteemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updategroup</servlet-name>
        <servlet-class>candidate.updategroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassword</servlet-name>
        <servlet-class>candidate.changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>canstatus1</servlet-name>
        <servlet-class>candidate.canstatus1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecandidate</servlet-name>
        <servlet-class>candidate.deletecandidate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>canupdate</servlet-name>
        <url-pattern>/canupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestatus</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addgroup</servlet-name>
        <url-pattern>/addgroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>canstatus</servlet-name>
        <url-pattern>/canstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>candetails</servlet-name>
        <url-pattern>/candetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empregister</servlet-name>
        <url-pattern>/Empregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletegroup</servlet-name>
        <url-pattern>/deletegroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteemp</servlet-name>
        <url-pattern>/deleteemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updategroup</servlet-name>
        <url-pattern>/updategroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>canstatus1</servlet-name>
        <url-pattern>/canstatus1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecandidate</servlet-name>
        <url-pattern>/deletecandidate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
